---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-CKR0BCC8S2"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag() { dataLayer.push(arguments); }
   gtag('js', new Date());

   gtag('config', 'G-CKR0BCC8S2');
 </script>




<body>
  <main>
    {% include anchor_headings.html html=content anchorBody="#" %}
  </main>

  

  <script>
    var onloadCallback = function() {
      grecaptcha.render('reCaptcha', {
        'sitekey' : '{{ site.reCaptcha.siteKey }}',
        'theme' : window.localStorage.getItem("theme")
      });
    };

    function setTheme(theme) {
      if (theme === "dark") {
        document.documentElement.setAttribute('data-theme', 'dark');
        window.localStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").classList.add('sun');
        document.getElementById("theme-toggle").classList.remove('moon');
        document.getElementsByClassName("faviconSwitch")[0].href = "{{ site.url }}{{ site.baseurl }}/faviconDark.png";
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
        window.localStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").classList.add('moon');
        document.getElementById("theme-toggle").classList.remove('sun');
        document.getElementsByClassName("faviconSwitch")[0].href = "{{ site.url }}{{ site.baseurl }}/faviconLight.png";
      }
    }

    let theme = localStorage.getItem('theme');

    theme = theme || (window.matchMedia ? window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light' : 'light');

    setTheme(theme);

    function modeSwitcher() {
      let currentMode = document.documentElement.getAttribute('data-theme');

      if (currentMode === "dark") {
        setTheme('light');
        if (document.getElementById("reCaptcha") !== null) {
          document.getElementsByTagName("iframe")[0].setAttribute('src', document.getElementsByTagName("iframe")[0].getAttribute('src').replace('dark', 'light'));
        }
      } else {
        setTheme('dark');
        if (document.getElementById("reCaptcha") !== null) {
          document.getElementsByTagName("iframe")[0].setAttribute('src', document.getElementsByTagName("iframe")[0].getAttribute('src').replace('light', 'dark'));
        }
      }
    }
  </script>



  </body>

  <footer class="social-footer">
    <div class="social-footer-icons">
      <a href="https://www.linkedin.com/in/ethan-exline-b9b369201/" title="My twitter - I tweet whenever there's a new post." target="_blank" rel="noopener noreferrer">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="https://github.com/ethanexline" title="Github profile - I'm working on it." target="_blank" rel="noopener noreferrer">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>

      <a href="{{site.url}}{{ site.baseurl }}/atom.xml" title="Feed RSS" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-rss" aria-hidden="true"></i>
      </a>

      <a href="https://github.com/ethanexline/ethanexline.github.io" title="Browse the code" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-code" aria-hidden="true"></i>
      </a>

      <a href="https://www.linkedin.com/in/ethan-exline-b9b369201/" title="Linkedin profile" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-linkedin"></i>
      </a>

      <a href="https://codestats.net/users/ethanjexline" title="Codestats profile" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-chart-bar"></i>
      </a>
    </div>
  </footer>

  <p class="post-footer" style="color: grey; text-align: center;">
    &copy; {{ site.time | date: "%Y" }} Ethan Exline. Made with <a href="https://jekyllrb.com">Jekyll</a>. Jekyll theme: <a href="https://github.com/P0WEX/Gesko">Gesko</a> 
  </p>

  <br>

  {% if page.url == '/blog/' %}
  <script src="{{ site.url }}{{ site.baseurl }}/assets/js/simple-jekyll-search.js"></script>
  <script>
    var sjs = SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('search-results'),
      json: '{{ site.url }}{{ site.baseurl }}/search.json',
      searchResultTemplate: '<li><a href="{url}" title="{description}">{title}</a></li>',
      noResultsText: "There ain't nothing like that here.",
      limit: 10,
      fuzzy: true,
    })
  </script>
  {% endif %}

</html>
